{% extends 'base.html.twig' %}

{% block page %}{{title}}{% endblock %}
{% block title %}{{title}}{% endblock %}


{% block body %}
    <p>※フォームを用意します</p>
    {% include '/hello/form.html.twig' %}    

    <p>include時に値を渡す</p>
    {% include '/hello/table.html.twig' with [data] %}
{% endblock %}